.menu-mobile
{
    display: block;
}

.mobile-button
{
    background-color: #E5E5E5; 
    border: solid 1px #D9D9D9;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 7px;

}

.hamburger-button
{
    content: url('../img/hamburger-icon.png');
    position: absolute;
    left: 0;
    top:0;
    margin-top: 10px;
    margin-left: 10px;
}

.mobile-search-button
{
    content: url('../img/searchBtnMobile.png');
    position: absolute;
    right: 0;
    top:0;
    margin-top: 10px;
    margin-right: 10px;
}

.menu-mobile a
{
    color: #585951;
    vertical-align: middle;
}

.menu-mobile li
{
    background-color: #B5B5B5;
    border-bottom: solid 1px #DBDBDB;
    height: 28px;   
    padding: 5px;
    
}

.menu-mobile li:before
{
    content: url('../img/navCollapseArrowRight.png');
    padding-left: 7px;
    padding-right: 7px;
}

.menu-mobile li:hover
{
    background-image: none; 
    background-color: #FCFCFC;
}

.menu-mobile a:hover
{
    color: #3399CC;        
}    

.menu-mobile ul
{
    display: none;
    text-align: left;
    width: 100%;
    float: left;
    clear: both;
}

.menu-mobile form input
{
    font-size: 19px;
    line-height: 30px;
    width: 100%;
}

input[type=checkbox]
{
    display: none;
}

.menu-mobile-chk:checked ~ ul
{
    display: block;
}